.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### NPM ###
/npm-debug.log

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

### Secrets / local environment ###
.env
.env.*
!.env.example

### File-based H2 database (DB_URL=jdbc:h2:file:./data/...) ###
/data/
*.mv.db
*.trace.db
